<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAccountService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfServices/AccountService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAccountService"
                contract="AccountService.IAccountService" name="BasicHttpBinding_IAccountService" />
        </client>
    </system.serviceModel>
</configuration>